<!DOCTYPE html>
<html>
	<head>
		<title>Example 2</title>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>
	</head>
	<body>
		<div id="root">
			<ul>
				<!-- <li v-for="name in names">{{name}}</li> -->
				<li v-for="name in names" v-text="name"></li>
				<!-- 	
						U Vue DevTools, mozemo direktno mijenjati niz, tipa:
						app.names.push('Susan');
				 -->
				 <input type="text" id="nameInput"/><button id="button">Add name</button>
			</ul>
		</div>

		<script>
			var app = new Vue({
				el : '#root',
				data : {
					names: ['Joe', 'Mary', 'Jack', 'Jane']
				},
				mounted() {
					// alert("Ready");
					var nameInput = document.getElementById('nameInput');
					document.getElementById('button').onclick = function() {
						var newName = nameInput.value;
						app.names.push(newName);
						nameInput.value = "";
					};
				}
			});
		</script>
	</body>
</html>