<!DOCTYPE html>
<html>
	<head>
		<title>Example 3</title>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>
	</head>
	<body>
		<div id="root">
			<ul>
				<li v-for="name in names" v-text="name"></li>
				<input type="text" v-model="newName" /><button v-on:click="addName">Add name</button>
			</ul>
		</div>

		<script>
			var app = new Vue({
				el : '#root',
				data : {
					names: ['Joe', 'Mary', 'Jack', 'Jane'],
					newName: ''
				},
				methods: {
					addName() {
						this.names.push(this.newName);
						this.newName = "";
					}
				},
				mounted() {
					
				}
			});
		</script>
	</body>
</html>