<!DOCTYPE html>
<html>
	<head>
		<title>Example 5</title>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>
	</head>
	<body>
		<div id="root">
			<h1>All Tasks</h1>
			<ul>
				<li v-for="task in tasks">{{ task.name }}</li>
			</ul>
			<h1>Incomplete Tasks</h1>
			<ul>
				<li v-for="task in incompleteTasks">{{ task.name }}</li>
			</ul>
		</div>

		<script>
			var app = new Vue({
				el : '#root',
				data : {
					tasks: [
						{ name: "Task 1", completed: true },
						{ name: "Task 2", completed: false },
						{ name: "Task 3", completed: false },
						{ name: "Task 4", completed: true },
						{ name: "Task 5", completed: false }
					]
				},
				computed: {
					incompleteTasks() {
						return this.tasks.filter(function(task) {
							return !task.completed;
						});
					}
				}
			});
		</script>
	</body>
</html>