<!DOCTYPE html>
<html>
	<head>
		<title>Example 1</title>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>
	</head>
	<body>
		<div id="root">
			<!-- {{message}} -->
			<p>Poruka je: {{ message }}</p> <!-- Prvo ovo -->
			<input id="el" v-model="message"/> <!-- Pa ovo -->
		</div>

		<script>
			// var element = document.getElementById("el");
			// element.value = "Hello world";
			new Vue({
				el : '#root',
				data : {
					message: "Hello world"
				}
			});
		</script>
	</body>
</html>